 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "cha", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
<div class="row">
<div class="col-sm-6 .hidden-xs>
<div class="panel-heading">
<h3>メッセージ一覧</h3>
<div class="panel-body">
    <% @messages.each do |message| %>
<p class="who"><%= message.name %></p>
<p class="who2"><%= message.body %></p>
<% end %>
</div></div>

<div class="col-sm-6">
<%= form_for(@message) do |f| %>
<% if @message.errors.present? %><div class="alert alert-danger"><%= alert %><ul><% @message.errors.full_messages.each do |full_message| %><li><%= full_message %></li><% end %></div><% end %>
<h3>メッセージを書き込む</h3><br>
<form class="form-inline">
<div class="form-group">
<input type="text" class="form-control" name="message[name]" id="message_name" placeholder="お名前"><br>
<textarea class="form-control" name="message[body]" id="message_body" rows="5" placeholder="書き込み内容"></textarea><br>
<input type="submit" name="commit" value="書き込みするよ" class="btn btn-success btn-lg">
<% end %>
</div>
</form></div></div>

</div>